<!DOCTYPE html>
<html lang='en'>
<head>
  <title>FUBAR></title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='shortcut icon' href='Your favicon path goes here' type='image/x-icon'>
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.23.2/assembly.js'></script>
</head>
<body>
<div class="prose">
<h1>Take a photo! </h1>
<form action="/upload" method=POST enctype="multipart/form-data">
  <label for="file" class="btn">Select Image</label>
  <input type='hidden' name='coordinates' id='coordinates'/>
  <input id="file" style="visibility:hidden;" name=file  type="file" accept="image/*" capture>
  <input type=submit value=Upload>
</form>
</div>
    <script>
      if ("geolocation" in navigator) {
        var gps = navigator.geolocation.getCurrentPosition(function(position) {
          document.getElementById('coordinates').value = JSON.stringify(position);
          for (key in position.coords) {

	      console.log(key)
//            document.write(key + ’: ‘ + position.coords[key]);
//            document.write(‘ < br > ‘);
          }
        });
      }
    </script>
</body>
</html>
