@import 'https://api.mapbox.com/mapbox-assembly/v0.23.2/assembly.min.css';
body{
    background-image: url('uber_jump.svg');
    position: relative;
    font-weight: lighter;
    font-family: "Helvetica Neue", Helvetica, monospace;
    text-align: center;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word; /*breaks long words into new lines*/
    background-attachment: fixed; /*bg won't scroll down, will always be visible*/
}

.img_div{
    max-width: 500px;
    max-height: 500px;
    background-size: 100%;
    height: 100vh;
}